*:focus {
  outline: none;
}
* {
  margin: 0;
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
/**
wordpress fantom space removal
*/
p:empty {
  display: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}
.bootstrap-select .btn:focus {
  outline: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.media-checker {
  position: absolute;
  top: -10000px;
  left: -10000px;
  z-index: 1920;
}
.image-preloader {
  position: absolute;
  top: -1000px;
  left: -5000px;
  display: block;
}
.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}
input,
textarea {
  outline: none;
}
a {
  outline: none;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
.image-wrapper {
  width: 200px;
  display: inline-block;
  font-size: 0;
  position: relative;
  vertical-align: top;
  overflow: hidden;
}
.image-wrapper:after {
  padding-top: 50%;
  display: block;
  content: '';
}
.image-wrapper .image-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: deepskyblue;
  color: white;
}
.image-wrapper .image-content img {
  width: 100%;
  height: auto;
}
@media (min-width: 1600px) {
  .container {
    width: 1570px;
    max-width: 1570px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .media-checker {
    z-index: 1200;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .media-checker {
    z-index: 992;
  }
}
/*Ipad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .media-checker {
    z-index: 1024;
  }
}
/*Ipad Portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .media-checker {
    z-index: 768;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .media-checker {
    z-index: 767;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .media-checker {
    z-index: 480;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  .media-checker {
    z-index: 479;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .media-checker {
    z-index: 320;
  }
}
html,
body {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
.mobile-navigation {
  position: fixed;
  z-index: 1010;
  top: 0;
  width: 100%;
  height: 55px;
  background-color: #103140;
}
.mobile-navigation:after {
  content: '';
  display: table;
  clear: both;
}
.mobile-navigation .logo-container {
  display: block;
  float: left;
  width: auto;
  max-width: 199px;
  height: 45px;
  margin-top: 0;
  margin-left: 20px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mobile-navigation .logo-container a {
  display: block;
  overflow: hidden;
  height: 45px;
}
.mobile-navigation .logo-container a img {
  width: auto;
  height: 100%;
}
.mobile-navigation .navigation-trigger {
  display: block;
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mobile-navigation .navigation-trigger a {
  display: inline-block;
  vertical-align: middle;
}
.mobile-navigation .navigation-trigger a:link,
.mobile-navigation .navigation-trigger a:visited {
  color: white;
}
.mobile-navigation .navigation-trigger a:hover,
.mobile-navigation .navigation-trigger a:active,
.mobile-navigation .navigation-trigger a:focus {
  color: #66c8ca;
}
.mobile-navigation .navigation-trigger a:last-child {
  margin-left: 20px;
}
.mobile-navigation .navigation-trigger a:last-child i {
  font-size: 35px;
  line-height: 30px;
}
.mobile-navigation .navigation-trigger i {
  margin-right: 20px;
  font-size: 25px;
  line-height: 55px;
}
.mobile-links-list-container {
  position: fixed;
  z-index: 1000;
  top: 55px;
  display: none;
  overflow: hidden;
  width: 100%;
  background-color: #66c8ca;
}
.mobile-links-list-container ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid #ededed;
}
.mobile-links-list-container ul li {
  display: block;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ededed;
  background-image: none;
}
.mobile-links-list-container ul li a {
  display: block;
  padding: 10px 0 10px 30px;
  text-transform: uppercase;
  font-size: 18px;
}
.mobile-links-list-container ul li a:link,
.mobile-links-list-container ul li a:visited {
  color: black;
}
.mobile-links-list-container ul li a:hover,
.mobile-links-list-container ul li a:focus,
.mobile-links-list-container ul li a:active {
  color: black;
  background-color: #ebebeb;
}
.mobile-links-list-container ul.social {
  display: block;
  border-top: none;
  border-bottom: 1px solid black;
}
.mobile-links-list-container ul.social li {
  display: inline-block;
  padding: 0 10px;
  border-bottom: none;
}
.mobile-links-list-container ul.social li a {
  padding: 10px 20px;
}
.mobile-links-list-container ul.social li a i {
  text-align: center;
}
.mobile-links-list-container ul.social li a img {
  height: 30px;
}
.pusher {
  height: 55px;
}
.main-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #103140;
  height: 60px;
  display: block;
}
.main-header .logo-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  padding-left: 30px;
}
.main-header .logo-container img {
  height: 46px;
}
.main-header .main-header-inner {
  display: inline-block;
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-right: 30px;
}
.main-header .main-header-inner ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-header .main-header-inner ul li {
  display: inline-block;
  padding: 0 10px;
}
.main-header .main-header-inner ul li a {
  text-transform: uppercase;
  font-size: 1.3em;
}
.main-header .main-header-inner ul li a:link,
.main-header .main-header-inner ul li a:visited {
  color: white;
}
.main-header .main-header-inner ul li a:hover,
.main-header .main-header-inner ul li a:focus,
.main-header .main-header-inner ul li a:active {
  color: #66c8ca;
}
.main-header .main-header-inner ul li a img {
  height: 35px;
}
.hero {
  padding-top: 60px;
}
.hero .hero-container {
  height: 600px;
  overflow: hidden;
  background-image: url(../img/hero-picture1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.hero .hero-container .logo {
  text-align: center;
  margin-top: 100px;
}
.hero .hero-container .logo img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: inline-block;
}
.hero .about {
  margin-top: 80px;
}
.hero .about h2 {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 100px;
  background-color: #f15827;
  color: #fff;
  padding: 10px 35px 10px 10px;
  position: relative;
  border-left: 10px solid black;
}
.hero .about h2:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 26.5px 25px 26.5px 0;
  border-color: transparent #66c8ca transparent transparent;
  position: absolute;
  right: 0;
  top: 0;
}
.hero .about p {
  padding: 20px 100px;
  font-size: 1.3em;
  color: #fff;
}
.about-small {
  background-color: #66c8ca;
}
.about-small h2 {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 50px;
  background-color: #f15827;
  color: #fff;
  padding: 10px 35px 10px 10px;
  position: relative;
  border-left: 10px solid black;
}
.about-small h2:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 26.5px 25px 26.5px 0;
  border-color: transparent #66c8ca transparent transparent;
  position: absolute;
  right: 0;
  top: 0;
}
.about-small p {
  padding: 10px 50px;
  font-size: 1.3em;
  color: #fff;
}
p {
  padding-left: 20px;
  font-size: 1.3em;
  text-align: justify;
}
.main-content {
  margin: 0 100px;
}
.main-content h2 {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 10px;
  background-color: #fdd050;
  color: black;
  padding: 10px 35px 10px 10px;
  position: relative;
  border-left: 10px solid #f15827;
}
.main-content h2:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 26.5px 25px 26.5px 0;
  border-color: transparent white transparent transparent;
  position: absolute;
  right: 0;
  top: 0;
}
.main-content .main-content-inner {
  position: relative;
}
.main-content .main-content-inner h2 {
  background-color: #66c8ca;
  color: #fff;
  border-color: transparent white transparent transparent;
  border-left: 10px solid black;
  margin-top: 0;
  margin-bottom: 25px;
}
.main-content .main-content-inner .juice {
  position: absolute;
  right: 0;
  top: -20px;
}
.main-content .main-content-inner .juice img {
  height: 150px;
}
.main-content .main-content-inner .coffee {
  position: absolute;
  right: 180px;
  top: 55px;
}
.main-content .main-content-inner .coffee img {
  height: 80px;
}
.margin-15 {
  margin-left: 15px;
}
.secound-main-content {
  margin: 20px 100px 0;
}
.secound-main-content ul {
  padding: 10px 0 0 0;
  margin: 0;
  list-style: none;
}
.secound-main-content ul li {
  font-size: 1.8em;
}
.secound-main-content ul li:before {
  /*content: '\f111';*/
  /*font-family: FontAwesome;*/
  /*font-size: 8px;*/
  content: '';
  width: 4px;
  height: 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #f15827;
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
}
.secound-main-content h2 {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 10px;
  color: white;
  padding: 10px 35px 10px 10px;
  position: relative;
}
.secound-main-content h2:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 26.5px 25px 26.5px 0;
  border-color: transparent white transparent transparent;
  position: absolute;
  right: 0;
  top: 0;
}
.secound-main-content h2.red {
  background-color: #f15827;
}
.secound-main-content h2.brown {
  background-color: #514331;
}
.secound-main-content h2.yellow {
  background-color: #fdd050;
  color: black;
}
.secound-main-content h2.blue {
  background-color: #199a8e;
}
.secound-main-content p {
  padding-left: 0;
}
.secound-main-content .secound-main-content-wrapper {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
}
.secound-main-content .secound-main-content-wrapper img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.secound-main-content .secound-main-content-wrapper ul li {
  font-size: 1.8em;
}
.secound-main-content .secound-main-content-wrapper .secound-main-content-inner {
  position: absolute;
  top: 10px;
  left: 0;
}
.secound-main-content .secound-main-content-wrapper .list-float-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
.secound-main-content .monthly-membership {
  display: block;
  margin-top: 50px;
}
.secound-main-content .monthly-membership:after {
  display: table;
  content: '';
  clear: both;
}
.secound-main-content .monthly-membership img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  height: 365px;
  display: inline-block;
  margin-left: 40px;
}
.secound-main-content .monthly-membership .list-right {
  display: inline-block;
  float: right;
  margin-right: 60px;
}
.secound-main-content .monthly-membership .list-right ul {
  display: block;
}
.secound-main-content .video {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 4px solid #15699a;
}
.footer-wrapper {
  margin-top: 20px;
  text-align: center;
}
.footer-wrapper .visit h2 {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 10px;
  background-color: #199a8e;
  color: white;
  padding: 10px 35px;
  position: relative;
}
.footer-wrapper .visit h2:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 28px 0 25px 25px;
  border-color: transparent transparent transparent white;
  position: absolute;
  left: 0;
  top: 0;
}
.footer-wrapper .visit h2:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 26.5px 25px 26.5px 0;
  border-color: transparent white transparent transparent;
  position: absolute;
  right: 0;
  top: 0;
}
.footer-wrapper .visit p {
  text-align: center;
}
.footer-wrapper .map {
  margin-top: 20px;
  margin-bottom: 40px;
}
.footer-wrapper .footer-wrapper-inner {
  height: 100px;
  border-top: 4px solid #199a8e;
  padding-top: 20px;
  display: block;
}
.footer-wrapper .footer-wrapper-inner:after {
  display: table;
  content: '';
  clear: both;
}
.footer-wrapper .footer-wrapper-inner .copyright {
  float: left;
  display: inline-block;
  padding-top: 10px;
}
.footer-wrapper .footer-wrapper-inner .copyright p {
  line-height: 40px;
}
.footer-wrapper .footer-wrapper-inner .social {
  display: inline-block;
  float: right;
  padding-top: 10px;
}
.footer-wrapper .footer-wrapper-inner .social ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-wrapper .footer-wrapper-inner .social ul li {
  display: inline-block;
}
.footer-wrapper .footer-wrapper-inner .social ul li a {
  display: block;
  margin: 0 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
  color: #199a8e;
  border: 1px solid #199a8e;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.footer-wrapper .footer-wrapper-inner .social ul li a:hover,
.footer-wrapper .footer-wrapper-inner .social ul li a:focus,
.footer-wrapper .footer-wrapper-inner .social ul li a:active {
  color: white;
  background-color: #199a8e;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .hero .hero-container {
    height: 500px;
  }
  .hero .about {
    margin-top: 0;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .hero .hero-container {
    height: 405px;
  }
  .hero .hero-container .logo {
    margin-top: 10px;
  }
  .hero .about {
    margin-top: 30px;
  }
  .hero .about h2 {
    font-size: 24px;
    margin-left: 80px;
  }
  .hero .about h2:after {
    border-width: 22.5px 22px 23.5px 0;
  }
  .hero .about p {
    font-size: 1.1em;
    padding: 10px 80px;
    background-color: #66c8ca;
  }
  .main-content {
    margin: 0 80px;
  }
  .main-content h2 {
    font-size: 24px;
  }
  .main-content h2:after {
    border-width: 22.5px 22px 23.5px 0;
  }
  .main-content .main-content-inner .coffee {
    right: 130px;
    top: 70px;
  }
  .main-content .main-content-inner .coffee img {
    height: 60px;
  }
  .secound-main-content {
    margin: 20px 80px 0;
  }
  .secound-main-content ul li {
    font-size: 1.3em;
  }
  .secound-main-content h2 {
    font-size: 24px;
  }
  .secound-main-content h2:after {
    border-width: 22.5px 22px 23.5px 0;
  }
  .secound-main-content .secound-main-content-wrapper ul li {
    font-size: 1.3em;
  }
  .secound-main-content .monthly-membership img {
    height: 280px;
    margin-left: 25px;
  }
  .secound-main-content .monthly-membership .list-right {
    margin-right: 50px;
  }
}
/*Ipad Landscape */
/*Ipad Portrait*/
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .hero {
    padding-top: 0;
  }
  .hero .hero-container {
    height: 195px;
    background-image: url(../img/hero-picture2.jpg);
  }
  .hero .hero-container .logo {
    margin-top: 35px;
  }
  .hero .hero-container .logo img {
    height: 110px;
  }
  .about-small h2 {
    margin-top: -10px;
    font-size: 24px;
    margin-left: 40px;
  }
  .about-small h2:after {
    border-width: 22.5px 22px 23.5px 0;
  }
  .about-small p {
    font-size: 1.1em;
    padding: 10px 40px;
    background-color: #66c8ca;
    margin-bottom: 0;
  }
  p {
    font-size: 1.1em;
  }
  .main-content {
    margin: 0 40px;
  }
  .main-content h2 {
    font-size: 18px;
  }
  .main-content h2:after {
    border-width: 19.5px 19px 19.5px 0;
  }
  .main-content .main-content-inner .juice img {
    height: 130px;
  }
  .main-content .main-content-inner .coffee {
    right: 120px;
    top: 10px;
  }
  .main-content .main-content-inner .coffee img {
    height: 50px;
  }
  .secound-main-content {
    margin: 20px 40px 0;
  }
  .secound-main-content h2 {
    font-size: 18px;
  }
  .secound-main-content h2:after {
    border-width: 19.5px 19px 19.5px 0;
  }
  .secound-main-content ul li {
    font-size: 1.1em;
  }
  .secound-main-content .secound-main-content-wrapper {
    margin-top: 20px;
  }
  .secound-main-content .secound-main-content-wrapper ul li {
    font-size: 0.93em;
  }
  .secound-main-content .monthly-membership {
    margin-top: 20px;
  }
  .secound-main-content .monthly-membership img {
    margin-left: 0;
    height: 200px;
  }
  .secound-main-content .monthly-membership .list-right {
    margin-right: 0;
  }
  .secound-main-content .monthly-membership .list-right ul li {
    font-size: 0.9em;
  }
  .secound-main-content .video iframe {
    height: 300px;
  }
  .footer-wrapper .visit h2 {
    font-size: 18px;
  }
  .footer-wrapper .visit h2:before {
    border-width: 20px 0 19px 19px;
  }
  .footer-wrapper .visit h2:after {
    border-width: 19.5px 19px 19.5px 0;
  }
  .footer-wrapper .visit p {
    padding: 10px;
    font-size: 1em;
  }
  .footer-wrapper .map iframe {
    height: 300px;
  }
  .footer-wrapper .footer-wrapper-inner .copyright {
    float: none;
    text-align: center;
  }
  .footer-wrapper .footer-wrapper-inner .copyright p {
    text-align: center;
    line-height: 20px;
  }
  .footer-wrapper .footer-wrapper-inner .social {
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }
}
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  .hero .hero-container {
    height: 140px;
  }
  .hero .hero-container .logo {
    margin-top: 15px;
  }
  .hero .hero-container .logo img {
    height: 85px;
  }
  .about-small h2 {
    margin-left: 10px;
  }
  .about-small p {
    padding: 10px 20px;
  }
  p {
    padding-right: 10px;
  }
  .main-content {
    margin: 0 10px;
  }
  .main-content h2 {
    font-size: 14px;
    padding: 10px 25px 10px 10px;
  }
  .main-content h2:after {
    border-width: 18.5px 16px 16.5px 0;
  }
  .main-content .main-content-inner .juice img {
    height: 100px;
  }
  .main-content .main-content-inner .coffee {
    right: 95px;
  }
  .secound-main-content {
    margin: 0 15px;
  }
  .secound-main-content h2 {
    font-size: 14px;
    padding: 10px 25px 10px 10px;
  }
  .secound-main-content h2:after {
    border-width: 18.5px 16px 16.5px 0;
  }
  .secound-main-content ul li {
    font-size: 0.9em;
  }
  .secound-main-content .secound-main-content-wrapper {
    position: static;
  }
  .secound-main-content .secound-main-content-wrapper:after {
    display: table;
    content: '';
    clear: both;
  }
  .secound-main-content .secound-main-content-wrapper ul li {
    font-size: 1.1em;
  }
  .secound-main-content .secound-main-content-wrapper .secound-main-content-inner {
    position: static;
  }
  .secound-main-content .secound-main-content-wrapper .small-picture1 img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  .secound-main-content .secound-main-content-wrapper .list-float-right {
    position: static;
    float: right;
  }
  .secound-main-content .monthly-membership {
    margin-top: 5px;
  }
  .secound-main-content .monthly-membership .list-right {
    float: none;
  }
  .secound-main-content .video iframe {
    height: 250px;
  }
  .footer-wrapper .map iframe {
    height: 250px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .hero .hero-container {
    height: 110px;
  }
  .hero .hero-container .logo {
    margin-top: 15px;
  }
  .hero .hero-container .logo img {
    height: 60px;
  }
  .about-small h2 {
    margin-top: 0;
    font-size: 20px;
  }
  .about-small h2:after {
    border-width: 21.5px 20px 20.5px 0;
  }
  p {
    padding-right: 10px;
    text-align: left;
  }
  .main-content {
    margin: 0 5px;
  }
  .main-content h2 {
    font-size: 14px;
    padding: 10px 25px 10px 10px;
  }
  .main-content h2:after {
    border-width: 18.5px 16px 16.5px 0;
  }
  .main-content .main-content-inner .juice {
    display: none;
  }
  .main-content .main-content-inner .coffee {
    display: none;
  }
  .secound-main-content {
    margin: 0 10px;
  }
  .secound-main-content h2 {
    font-size: 14px;
  }
  .secound-main-content h2:after {
    border-width: 17.5px 15px 15.5px 0;
  }
  .secound-main-content h2.red {
    font-size: 12px;
  }
  .secound-main-content h2.red:after {
    border-width: 18.5px 16px 16.5px 0;
  }
  .secound-main-content .secound-main-content-wrapper {
    margin-top: 20px;
  }
  .secound-main-content .secound-main-content-wrapper ul li {
    font-size: 0.93em;
  }
}
